body {
  background-color: #000000;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  color: #ffffff;
}

a, a:visited {
  color: #ffffff;
  text-decoration: none;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
  color: #ffffff;
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: #ffffff;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #d3d3d3;
  stroke: #d3d3d3;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: #ffffff;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
